/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 17, 2015, 5:14:41 PM
    Author     : michel
*/



.logoif {
    width: 9%;
}

.logoobs {
    width: 13%;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 15%;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 15%;
    width: 0;
    height: 80%;
    margin-left: -16%;
    overflow-y: auto;
    background: #8eb0cc;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    left: 0%;
    height: 100%;
    position: 0%;
    padding: 1%;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -10%;
}

/* Sidebar Styles */

.sidebar-nav {
    position: 0;
    top: 0;
    width: 70%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 10%;
    line-height: 200%;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 9%;
    font-size: 150%;
    line-height: 300%;
}

.sidebar-nav > .sidebar-brand a {
    color: #000;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:480px) {
    #wrapper {
        padding-left: 15%;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 16%;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 1%;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

#navbar {
    background-color: #d90000;
}

#navbar ul {
    margin: 0; 
    padding: 0;
    float: left;
}

#navbar ul li {
    display: inline;
    list-style-type: none;
    padding-right: 1%;
}

#navbar ul li a{
    float: left; 
    text-decoration: none;
    color: white;
    padding: 5% 6%;
}

#navbar ul li a:visited {
    color: white;
}

#navbar ul li a:hover, #navbar ul li .current{
    color: #fff;
    background-color:#bf0000;
}

#navbar .first  {
    /*You can put stuff here for the first item in the navbar*/
}

#navbar .last  {
    /*You can put stuff here for the last item in the navbar*/
}
