/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 17, 2015, 5:14:41 PM
    Author     : michel
*/


body, 
.menu,
.sub-menu {
  margin: 0;
  padding: 0;
}

.clearfix:after{
  content: '.';
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
  visibility: hidden;
  overflow: hidden;
}
.menu,
.sub-menu {
  list-style: none;
  
}
.sub-menu {
  //background: #444;
}
.menu a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;

}
.menu li {
  position: relative;
}
.menu > li {
//  float: left;
}
.menu > li:hover {
  //background: #444;
}
.menu li:hover > .sub-menu {
  display: block;
}

.sub-menu {
  display: none;
  position: relative;
  min-width: 150px;
  
}

.sub-menu li:hover {
  background: #555;
}

.sub-menu .sub-menu {
  top: 0;
  left: 100%;
}

.search {
    border-radius: 25px;
    border: 2px solid #8AC007;
    padding: 20px;
}

.txtSearch { 
    width:10em; 
    height:28px;
    padding: 0;
}

.boxSearch select {
    width: auto; 
    height: 28px;
}

.tableSearch td {
    border: 0;
    background: white;
}

.rodape {
    width: 4em;
    float: left;
}


.alinhar{
    float: left;
    line-height: 1.5em;
    font-size: 0.6em;
}

.logoif {
    width: 6em;
    float: left;
}

.logoobs {
    width: 8.4em;
    float: left;
}

.formacoes_ul {
    margin-left: 20px;
}

.formacoes_input {
    height: 150px;
    width: 100%;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 1em;
}

#sidebar-wrapper {
    float: left;
    z-index: 1000;
    position: relative;
    height: 40em;
    margin-left: 0%;
    overflow-y: auto;
    background: #8eb0cc;
}

#wrapper.toggled #sidebar-wrapper {
    width: 50em;
}

#page-content-wrapper {
    float: left;
    position: relative;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 1em;
}

#logout {
    color: red;
}

@media(min-width:480px) {
    #wrapper {
        float: left;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 1em;
        position: relative;
        float: left;
        width: 80%;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

#navbar {
    background-color: #d90000;
}

#navbar ul {
    margin: 0; 
    padding: 0;
    float: left;
}

#navbar ul li {
    display: inline;
    list-style-type: none;
    padding-right: 1em;
}

#navbar ul li a{
    float: left; 
    text-decoration: none;
    color: white;
    padding: 1em 1.2em;
}

#navbar ul li a:visited {
    color: white;
}

#navbar ul li a:hover, #navbar ul li .current{
    color: #fff;
    background-color:#bf0000;
}

#navbar .first  {
    /*You can put stuff here for the first item in the navbar*/
}

#navbar .last  {
    /*You can put stuff here for the last item in the navbar*/
}
